<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>成績管理システム</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

    <h1>成績管理システム</h1>

    <ul class="menu-list">
        <li>
            <a th:href="@{/students}" class="menu-link">
                学生管理
            </a>
        </li>

        <li>
            <a th:href="@{/subjects}" class="menu-link">
                科目管理
            </a>
        </li>

        <li>
            <a th:href="@{/scores}" class="menu-link">
                成績管理
            </a>
        </li>

        <li>
            <a th:href="@{/statistics}" class="menu-link">
                統計情報
            </a>
        </li>

        <li>
            <a th:href="@{/pdf/students}" class="menu-link">
                成績表PDF出力
            </a>
        </li>
    </ul>

</body>
</html>